aside{
    width: 20%;
    height: 100vh;
    background-color: white;
}

.aside-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top:50px;
}

.aside-container > *{
    font-size: 19px;
    width: 80%;
    background-color: transparent;
    border: 0;
    text-align: left;
    cursor: pointer;
}

.demo{
    background-color: lightblue;
    height:100px;
    width: 100px;
    border-radius: 100%;
    margin-bottom: 30px;
}

.logout{
    position: absolute;
    bottom: 50px;
    left: 20px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}



/* aside-media */

.aside-menu{
    position: fixed!important;
    display: none;
    bottom: 0;
    width: 80%;
    background-color: white;
}

.aside-media-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aside-media-container > * {
    font-size: 20px;
    background-color: transparent;
    border: none;
}

.aside-profil-logo{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid lightblue;
}

.add-media{
    background-color: royalblue;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


@media screen and (max-width:767px){
    aside{
        display: none;
    }
    .aside-menu{
        display: block;
        position: fixed;
        width: 100%;
        padding: 5px;
    }
}