nav {
    display: flex;
    justify-content: space-between;
    padding: 12px 5%;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: white;
}

.logout-navbar {
    display: none;
    background-color: transparent;
    font-size: 30px;
    border: none;
}

.add-product-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #186FD4;
    color: white;
    padding: 14px 20px;
    font-size: 18px;
    font-weight: 500;
    border: 0;
    border-radius: 15px;
}

@media screen and (max-width:767px) {
    .add-product-nav {
        display: none;
    }

    .logout-navbar {
        display: flex;
    }
}