.chart{
    background-color: white;
    padding: 30px 15px;
    width: 500px;
    border-radius: 25px;
    height: 300px;
    margin: 10px 0;
}

@media screen and (max-width:767px) {
    .chart{
        margin: 70px 0;
        width: 350px;
    }
}
