.home{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container{
    width: 85%;
}

.child-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-pages{
    overflow: auto;
}

@media screen and (max-width:767px){
    .container{
        width: 100%;
    }
}